@if (data$ | async; as data) {
<nav class="navbar navbar-light">
  <div class="container">
    <a class="navbar-brand" routerLink="/">medium</a>
    <ul class="nav navbar-nav pull-xs-right">
      <li class="nav-item">
        <!-- Add "active" class when you're on that page" -->
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      @if (data.currentUser) {
      <li class="nav-item">
        <a class="nav-link" routerLink="/editor">
          <i class="ion-compose"></i>&nbsp;New Article
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/settings">
          <i class="ion-gear-a"></i>&nbsp;Settings
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/profiles', data.currentUser.username]"
        >
          <img [src]="data.currentUser.image" class="user-pic" />
          {{ data.currentUser.username }}
        </a>
      </li>
      } @else if (data.currentUser === null) {
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">Sign in</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/register">Sign up</a>
      </li>
      }
    </ul>
  </div>
</nav>
}
