@if (data$ | async; as data) {
<div class="auth-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-xs-12">
        <h1 class="text-xs-center">Sign up</h1>
        <p class="text-xs-center">
          <a routerLink="/login">Have an account?</a>
        </p>
        @if (data.backendErrors) {
        <mc-backend-error-messages [backendErrors]="data.backendErrors" />
        }
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <fieldset class="form-group">
            <input
              type="text"
              class="form-control form-control-lg"
              placeholder="Username"
              [formControl]="registerForm.controls.username"
            />
          </fieldset>
          <fieldset class="form-group">
            <input
              type="text"
              class="form-control form-control-lg"
              placeholder="Email"
              [formControl]="registerForm.controls.email"
            />
          </fieldset>
          <fieldset class="form-group">
            <input
              type="password"
              class="form-control form-control-lg"
              placeholder="Password"
              [formControl]="registerForm.controls.password"
            />
          </fieldset>
          <button
            type="submit"
            class="btn btn-lg btn-primary pull-xs-right"
            [disabled]="data.isSubmitting"
          >
            Sign up
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
}
