@if (data$ | async; as data) { @if (data.isLoading) {
<mc-loading />
} @if (data.error) {
<mc-error-message [message]="data.error" />
} @if (data.feed) { @for (article of data.feed.articles; track $index) {
<div class="article-preview">
  <div class="article-meta">
    <a [routerLink]="['/profile', article.author.username]">
      <img [src]="article.author.image" />
    </a>
    <div class="info">
      <a [routerLink]="['/profile', article.author.username]" class="author">
        {{ article.author.username }}
      </a>
      <span class="date">{{ article.createdAt }}</span>
    </div>
    <button class="btn btn-outline-primary btn-sm pull-xs-right">
      <i class="ion-heart"></i> ADD TO FAVORITES
    </button>
  </div>
  <a [routerLink]="['/article', article.slug]" class="preview-link">
    <h1>{{ article.title }}</h1>
    <p>{{ article.description }}</p>
    <span>Read more...</span>
    TAG LIST
  </a>
</div>
PAGINATION } } }
